<!DOCTYPE html>
<html>

<head>
	<title>Wowsers</title>
	<link rel="icon" type="image/png" href="https://api.brethan.net/favicon.png">
	<style>

		div {
			font-family: Calibri;
		}

		.inner {
			margin-left: 50px;
		}
		
		.outer {
			margin-bottom: 20px;
			width: fit-content;
			border-style: solid;
		}

		.outer:hover {
			color: blue;
		}

		.wrapper:hover{
			color: purple;
		}

		.test {
			position: relative;
			margin: 1%;
		}
		.text:hover {
			color: rgb(252, 0, 252);
		}
	</style>
</head>

<body>
<%- locals.schedules || what %>
</body>

</html>