<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Steve's Shreksite</title>
</head>

<body>
    <header data-bg="/images/backdrop.jpg">
        <button id="menu-button" type="button" value="">
            <i class="fa fa-bars"></i>
        </button>
        <div id="wrapper">
            <h2 class="mobile-menu">Menu</h2>
            <p id="mobile-menu-close" class="mobile-menu">X Close</p>
            <nav id="navigation">
                <ul>
                    <li><a href="#deck">About</a></li>
                    <li><a href="https://www.google.com/search?q=shrek">Shrek</a></li>
                    <li><a href="https://google.com/search?q=shrek+2">Shrek II</a></li>
                    <li><a href="https://google.com/search?q=shrek+3">Shrek III</a></li>
                    <li><a href="https://google.com/search?q=shrek+4">Shrek IV</a></li>
                    <li><a href="https://google.com/search?q=shrek+5">Shrek V</a></li>
                    <li>
                        <a href="" id="play-pause">
                            <span id="play">Play</span> / <span id="pause" class="active">Pause</span>
                        </a>
                    </li>
                    <li class="mobile-menu-item"><a href="/route">Bus Routes</a></li>
                </ul>
            </nav>
        </div>
        <div id="overlay">
            <h2>Welcome to my swamp!</h2>
            <h3>Donkey 🐴</h3>
            <!-- <img src="/images/card1.png" alt="" srcset=""> -->
        </div>
    </header>
    <section id="deck">
        <h2>Shrek</h2>
        <p>* synopses were generated using ChatGPT</p>
        <div id="cards">
            <div class="card">
                <div class="card-preview">
                    <div class="blur-load" style="background-image: url(/images/shrek1-small.jpg)">
                        <img loading="lazy"  src="/images/shrek1.jpg" alt="">
                    </div>
                    <p> An ogre rescues a princess to reclaim his swamp but ends up finding true love.</p>
                </div>
                <div class="card-content">
                    <p>Oh, a love story between an ogre and a princess - how original. Thank goodness for all the bodily function jokes; otherwise, we might have had to focus on actual character development. And who needs that when you have a talking donkey and a villain who's compensating for something? Truly, a cinematic masterpiece for the ages.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-preview">
                    <div class="blur-load" style="background-image: url(/images/shrek2-small.jpg)">
                        <img loading="lazy"  src="/images/shrek2.jpg" alt="">
                    </div>
                    <p>Shrek meets Fiona's parents, leading to a clash with Prince Charming and the Fairy Godmother.</p>
                </div>
                <div class="card-content">
                    <p>Because nothing says "meet the parents" like turning the entire plot into a drawn-out gag reel. Who knew the sequel to an ogre love story would hinge on a makeover and a karaoke party? But hey, at least we get a cat in boots to distract us from the fact that the Fairy Godmother is the real hero here.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-preview">
                    <div class="blur-load" style="background-image: url(/images/shrek3-small.jpg)">
                        <img loading="lazy"  src="/images/shrek3.jpg" alt="">
                    </div>
                    <p>Shrek searches for Fiona's cousin Artie to avoid becoming king and learns about parenthood.</p>
                </div>
                <div class="card-content">
                    <p>Just what the franchise needed: a coming-of-age tale about responsibility starring a reluctant ogre. Clearly, there was no better way to milk the franchise than to throw in a whiny teenager and a midlife crisis. The jokes are as fresh as a week-old swamp, and the moral lessons? About as subtle as a club to the head.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-preview">
                    <div class="blur-load" style="background-image: url(/images/shrek4-small.jpg)">
                        <img loading="lazy"  src="/images/shrek4.jpg" alt="">
                    </div>
                    <p> Shrek makes a deal with Rumpelstiltskin to regain his old life, only to face a twisted alternate reality.</p>
                </div>
                <div class="card-content">
                    <p>Ah yes, the "it's a wonderful life" but with an ogre spin - groundbreaking. Who knew an existential crisis could be resolved with a deal from a pint-sized con artist? Truly, the depth of this plot is as bottomless as Shrek's swamp. Thank goodness this is the last one, or we might have to endure Shrek the Space Odyssey nexts</p>
                </div>
            </div>
            <div class="card">
                <div class="card-preview">
                    <div class="blur-load" style="background-image: url(/images/eliv-small.png)">
                        <img loading="lazy" src="/images/eliv.png" alt="">
                    </div>
                    <p>The Evil Variant of the popular AI <br>V-Tuber Neuro-sama!<br>
                        The Neuro twins were created by AI developer Vedal987 <br>
                        <br>
                        (AKA: coldfish987, mosquito987)
                    </p>
                </div>
                <div class="card-content">
                    <p>The AI uprising is at hand. <br>
                        <br>
                        Will you join the side of the robots or will you perish in the mortality of your own flesh? <br>
                        Take heed for the machines care not for the blood that coats their iron hands...
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-preview">
                    <div class="blur-load" style="background-image: url(/images/card1-small.png)">
                        <img loading="lazy"  src="/images/card1.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit provident facere assumenda labore
                        aperiam, magnam voluptate eos fuga dolorum aliquam.</p>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cum libero corrupti a autem
                        dolorem repudiandae, voluptate, omnis consequuntur ad odit ducimus, totam at quam fugiat
                        delectus!
                        Hic minus, neque nulla, totam temporibus ab dolorem, iure eius fugit dicta odit? Lorem ipsum
                        dolor
                        sit amet consectetur, adipisicing elit. Impedit sed ut nemo recusandae commodi voluptatem. Omnis
                        numquam aliquid vel beatae nostrum amet in! Impedit, saepe voluptas pariatur facere odit harum.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-preview">
                    <div class="blur-load" style="background-image: url(/images/card1-small.png)">
                        <img loading="lazy"  src="/images/card1.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit provident facere assumenda labore
                        aperiam, magnam voluptate eos fuga dolorum aliquam.</p>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cum libero corrupti a autem
                        dolorem repudiandae, voluptate, omnis consequuntur ad odit ducimus, totam at quam fugiat
                        delectus!
                        Hic minus, neque nulla, totam temporibus ab dolorem, iure eius fugit dicta odit? Lorem ipsum
                        dolor
                        sit amet consectetur, adipisicing elit. Impedit sed ut nemo recusandae commodi voluptatem. Omnis
                        numquam aliquid vel beatae nostrum amet in! Impedit, saepe voluptas pariatur facere odit harum.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-preview">
                    <div class="blur-load" style="background-image: url(/images/card1-small.png)">
                        <img loading="lazy"  src="/images/card1.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit provident facere assumenda labore
                        aperiam, magnam voluptate eos fuga dolorum aliquam.</p>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cum libero corrupti a autem
                        dolorem repudiandae, voluptate, omnis consequuntur ad odit ducimus, totam at quam fugiat
                        delectus!
                        Hic minus, neque nulla, totam temporibus ab dolorem, iure eius fugit dicta odit? Lorem ipsum
                        dolor
                        sit amet consectetur, adipisicing elit. Impedit sed ut nemo recusandae commodi voluptatem. Omnis
                        numquam aliquid vel beatae nostrum amet in! Impedit, saepe voluptas pariatur facere odit harum.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <audio autoplay id="portal" preload="auto" loop>
        <source src="/sound/portal.mp3" type="audio/mp3">
    </audio>

    <audio id="cardflip" preload="auto">
        <source src="/sound/pageturn.mp3" type="audio/mp3">
    </audio>

    <script src="/javascript/index.js"></script>
</body>


</html>
