<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="5; url='https://api.brethan.net'" />
	<title>Redirecting you to main page</title>
	<style>
		.center {
			position: absolute;
			top: 50%;
			left: 50%;
			border: 3px solid blueviolet;
			transform: translate(-50%, -50%);
			text-align: center;
			padding: 10px;
		}

	</style>
</head>
<body>
	<div id="goofy">
		<div>
			<p>you done goofed up</p>
		</div>
		<button onclick="centerTheDiv()">Center the div</button>
	</div>
</body>

<script>
	function centerTheDiv() {
		const goofyDiv = document.getElementById("goofy");
		goofyDiv.classList.add("center")
	}
</script>
</html>