<!DOCTYPE html>
<html>

<head>
	<title>Wowsers</title>
	<link rel="icon" type="image/png" href="https://api.brethan.net/favicon.png">
	<style>
		div {
			margin-top: 2px;
		}

	</style>
</head>

<body>
	<datalist id="departments"></datalist>
	<label>Choose your course department from the list:</label>
	<form action="/schedule" id="scheduleForm">
		<div>
			<input list="departments" name="departmentField" id="department0" type="text" >
			<select list="numbers" name="numberSelect" id="number0" disabled="true">
				<option>Select ####</option>
			</select>
		</div>
		<div>
			<input list="departments" name="departmentField" id="department1" type="text" >
			<select list="numbers" name="numberSelect" id="number1" disabled="true">
				<option>Select ####</option>
			</select>
		</div>
		<div>
			<input list="departments" name="departmentField" id="department2" type="text" >
			<select list="numbers" name="numberSelect" id="number2" disabled="true">
				<option>Select ####</option>
			</select>
		</div>
		<div>
			<input list="departments" name="departmentField" id="department3" type="text" >
			<select list="numbers" name="numberSelect" id="number3" disabled="true">
				<option>Select ####</option>
			</select>
		</div>
		<div>
			<input list="departments" name="departmentField" id="department4" type="text" >
			<select list="numbers" name="numberSelect" id="number4" disabled="true">
				<option>Select ####</option>
			</select>
		</div>
		<div>
			<input list="departments" name="departmentField" id="department5" type="text" >
			<select list="numbers" name="numberSelect" id="number5" disabled="true">
				<option>Select ####</option>
			</select>
		</div>
		
		<select name="year" id="year">
			<option value="2023">2023</option>
			<option value="2024">2024</option>
		</select>
		<select name="term" id="term">
			<option value="10-WINTER">WINTER</option>
			<option value="20-SUMMER">SUMMER</option>
			<option value="30-FALL">FALL</option>
		</select>
		<input type="submit" value="Submit" formmethod="post" disabled="disabled" id="submit" style="margin-top: 10px;">
	</form>
</body>

<script src="/schedule_request.js"></script>

</html>